/*
 * Required by Obsidian to load the plugin
 */

.workspace-leaf-content[data-type="notes-explorer"] .view-content {
    overflow: unset;
    padding-block-start: 0 !important;
    /* padding-right: 5px; */
    /* padding-block-end: 4em; */
    padding-bottom: 0px !important;
    padding-inline: 4px !important;
}

/* View.ts  */

.notes-explorer-statuBarSpanEl {
    padding-inline: 5px;
    font-weight: 500;
    cursor: pointer;
}

.notes-explorer-status-bar-button {
    background-color: var(--background-modifier-box-shadow);
    padding-inline: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.notes-explorer-status-bar-button:hover {
    background-color: var(--background-secondary);
}

/* Root.svelte */

.workspace-leaf-content[data-type="notes-explorer"] .action-bar-parent {
    z-index: 10;
    /* border-radius: 2em; */
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    /* padding-inline: 1em; */

    opacity: 1;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: auto;
}

.workspace-leaf-content[data-type="notes-explorer"] .action-bar-parent-hide {
    opacity: 0;
    transform: translateY(0);
    pointer-events: none;
    /* Optional: to prevent interaction when hidden */
}

.workspace-leaf-content[data-type="notes-explorer"] .action-bar {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-primary);
    box-shadow: 0px 10px 15px -10px var(--background-modifier-success);
    backdrop-filter: blur(5px);
    overflow: visible;
    flex-direction: row-reverse;
}

.workspace-leaf-content[data-type="notes-explorer"] .action-bar-right-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    padding-inline-start: 7px;
}

.workspace-leaf-content[data-type="notes-explorer"] .action-bar_buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection {
    flex: 1 1 0%;
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    min-height: 2.5rem;
    scrollbar-width: thin;
    border: 1px solid var(--blockquote-border-color);
    border-radius: 4px;
    padding-inline: 0.5rem;
}

/* Force horizontal scrolling inside label section */
.workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection>.action-bar_labelSection_tags,
.workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection>.filter-labels,
.workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection>.action-bar_folder {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 6px;
    align-items: center;
}

.workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection_tags_tag {
    background-color: var(--tag-background) !important;
    border: var(--tag-border-width) solid var(--tag-border-color) !important;
    border-radius: var(--tag-radius) !important;
    color: var(--tag-color) !important;
    font-size: var(--tag-size) !important;
    font-weight: var(--tag-weight) !important;
    text-decoration: var(--tag-decoration) !important;
    padding: var(--tag-padding-y) var(--tag-padding-x) !important;
    line-height: 1 !important;
    cursor: pointer !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-labels {
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 6px;
    padding-block: 0.25rem;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-label {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 12px;
    font-size: 0.85rem;
    white-space: nowrap;
    background: transparent;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-label.cf {
    border-color: #2196f3;
    color: #2196f3;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-label.nf {
    border-color: #fbc02d;
    color: #fbc02d;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-label-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-label-text-value {
    font-size: 1.2em;
    font-weight: 650;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-label button {
    background: none;
    border: none;
    margin: 0 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-label .toggle {
    margin-left: 0;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-label .close {
    margin-right: 0;
}

.filter-section-small-screens-no-filters {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 4px;
    min-width: 100%;
    gap: 0.5rem;
}

.filter-section-small-screens-no-filters-message {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--text-faint);
    flex-grow: 1;
    text-align: center;
    align-content: end;
}

.notes-explorer-view-share-button {
    border: 1px solid var(--color-accent) !important;
    cursor: pointer !important;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

.notes-explorer-view-share-button-desktop {
    background-color: transparent !important;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.workspace-leaf-content[data-type="notes-explorer"] .action-bar_folder {
    display: flex;
    flex: 0 0 auto;
    gap: 0.5rem;
    background: var(--background-modifier-border);
    padding-inline-start: 0.5rem;
    border-radius: 4px;
    border: 2px solid var(--code-tag);
    color: var(--code-keyword);
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
}

.workspace-leaf-content[data-type="notes-explorer"] .action-bar_folder_closeButton {
    color: white;
    background: var(--canvas-background);
    border: 0 !important;
    border-radius: 4px !important;
    cursor: pointer;
}

/* Hide horizontal scrollbars aesthetically (optional) */
.workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection::-webkit-scrollbar,
.workspace-leaf-content[data-type="notes-explorer"] .filter-labels::-webkit-scrollbar {
    height: 6px;
}

.workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection::-webkit-scrollbar-thumb,
.workspace-leaf-content[data-type="notes-explorer"] .filter-labels::-webkit-scrollbar-thumb {
    background-color: var(--text-faint);
    border-radius: 3px;
}

/* Hide label section by default on mobile */
.workspace-leaf-content[data-type="notes-explorer"] .filter-section-small-screens.responsive {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--background-secondary);
    border-top: 1px solid var(--background-modifier-border);
    border-bottom: 1px solid var(--background-modifier-border);

    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(0);
}

/* Shown when toggle is active */
.workspace-leaf-content[data-type="notes-explorer"] .filter-section-small-screens.responsive.visible {
    opacity: 1;
    transform: translateY(0);

    display: flex;
    flex-direction: row;
    position: sticky;
    margin-top: 3em;
    flex-wrap: wrap;
}

/* Filters toggle button on small screens */
.workspace-leaf-content[data-type="notes-explorer"] .filters-toggle-button {
    display: none;
    /* background-color: transparent !important; */
    border: none;
    padding: 0.5rem 0.5rem;
    padding-block-end: 0.3rem;
    margin-inline-start: 0.5rem;
    border-radius: 6px;
    align-self: baseline;
    font-weight: bold;
    cursor: pointer;
    /* color: var(--color-accent);*/
}

.workspace-leaf-content[data-type="notes-explorer"] .filters-toggle-button.filters-active {
    background-color: var(--color-accent);
    color: black;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-section-small-screens-folder-label {
    display: flex;
    flex: 0 0 auto;
    background: var(--background-modifier-border);
    padding-inline-start: 0.5rem;
    border-radius: 4px;
    border: 2px solid var(--code-tag);
    color: var(--code-keyword);
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
    max-width: max-content;
    gap: 5px;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-section-small-screens-folder-label-closeButton {
    color: white;
    background: var(--canvas-background);
    border: 0 !important;
    border-radius: 4px !important;
    cursor: pointer;
}

.workspace-leaf-content[data-type="notes-explorer"] .filter-section-small-screens-filter-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding-block: 0.25rem;
}

/* Responsive adjustment for narrow screens */
@media screen and (max-width: 1200px) {
    .workspace-leaf-content[data-type="notes-explorer"] .action-bar {
        /* flex-direction: column;
        align-items: stretch; */
    }

    .workspace-leaf-content[data-type="notes-explorer"] .action-bar-right-section {
        /* width: 100%; */
        justify-content: flex-start;
        margin-bottom: 0.5rem;
    }

    .workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection {
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-bottom: 0.25rem;
    }

    .workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection>.filter-labels,
    .workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection>.action-bar_labelSection_tags,
    .workspace-leaf-content[data-type="notes-explorer"] .action-bar_labelSection>.action-bar_folder {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .workspace-leaf-content[data-type="notes-explorer"] .filters-toggle-button {
        display: inline-block;
    }

    /* Ensure only the responsive section is used */
    .workspace-leaf-content[data-type="notes-explorer"] .filter-section-small-screens:not(.responsive) {
        display: none !important;
    }

    .workspace-leaf-content[data-type="notes-explorer"] .notes-explorer-view-share-button-desktop {
        display: none !important;
    }
}

/* .action-bar_folder {
    display: flex;
    gap: 0.5rem;
    width: fit-content;
    background: var(--background-modifier-border);
    padding-inline-start: 0.5rem;
    border-radius: 4px;
    border: 2px solid var(--code-tag);
    color: var(--code-keyword);
    flex-direction: row;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
    margin-inline: 5px;
}

.action-bar_folder_closeButton {
    color: white;
    background: var(--canvas-background);
    align-content: center;
    border: 0 !important;
    border-radius: 4px !important;
    cursor: pointer;
}

.filter-labels {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 7px;
}

.filter-label {
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 12px;
    font-size: 0.85rem;
    background: transparent;
}

.filter-label.cf {
    border-color: #2196f3;
    color: #2196f3;
}

.filter-label.nf {
    border-color: #fbc02d;
    color: #fbc02d;
}

.filter-label button {
    background: none;
    border: none;
    margin: 0 4px;
    font-size: 0.9rem;
    cursor: pointer;
}

.filter-label .toggle {
    font-weight: bold;
    margin-left: 0;
}

.filter-label .close {
    margin-right: 0;
} */

/* .action-bar .action-bar_labelSection_tags {
    flex-grow: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    overflow: auto;
        display: flex;
            flex-direction: row;
            overflow-x: auto;
            scroll-behavior: smooth;
            margin-block: 4px;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (min-width: 700px) {
        overflow: hidden;

        & .action-bar__tags__list {
            transition: box-shadow 0.3s;
        }

        &:hover .action-bar__tags__list {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            white-space: normal;
            height: 100%;
            z-index: var(--layer-popover);
            background-color: var(--background-primary);
            padding-bottom: var(--size-4-2);
            box-shadow: 0 0 var(--size-2-3) var(--size-2-3) var(--background-primary-alt);

            & button.action-bar__tag {
                margin-bottom: var(--size-2-2);
            }
        }
    }
} */

/* .action-bar .action-bar__tags {
    flex-grow: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    overflow: auto;

    @media screen and (min-width: 700px) {
        overflow: hidden;
        max-width: 65vw;
    }
}

.action-bar button.action-bar__tag {
    font-size: var(--tag-size);
    color: var(--tag-color);
    text-decoration: var(--tag-decoration);
    background-color: var(--tag-background);
    border: var(--tag-border-width) solid var(--tag-border-color);
    padding: var(--tag-padding-y) var(--tag-padding-x);
    border-radius: var(--tag-radius);
    font-weight: var(--tag-weight);
    margin-right: var(--size-2-2);

    &:hover {
        color: var(--tag-color-hover);
        text-decoration: var(--tag-decoration-hover);
        background-color: var(--tag-background-hover);
        border-color: var(--tag-border-color-hover);
    }
} */

/* .action-bar .action-bar__search {
    @media screen and (min-width: 700px) {
        min-width: 300px;
        max-width: 300px;
        box-shadow: calc(0px - var(--size-4-5)) 0 var(--size-2-3) var(--size-2-3) var(--background-primary);
    }
}

.action-bar__search-input {
    @media screen and (min-width: 700px) {
        min-width: 300px;
        max-width: 300px;
        box-shadow: calc(0px - var(--size-4-5)) 0 var(--size-2-3) var(--size-2-3) var(--background-primary);
    }
} */

.workspace-leaf-content[data-type="notes-explorer"] .count-label-button {
    background-color: var(--icon-color-active) !important;
    color: white !important;
    font-weight: 600 !important;
    font-size: 1.05em !important;
    align-self: normal !important;
    align-self: stretch !important;
    cursor: pointer !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .count-label-button-small-screens {
    display: none !important;

    @media screen and (max-width: 420px) {
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-color: var(--icon-color-active) !important;
        color: white !important;
        font-weight: 600 !important;
        font-size: 1.05em !important;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        cursor: pointer !important;

    }
}

@media screen and (max-width: 420px) {
    .workspace-leaf-content[data-type="notes-explorer"] .count-label-button {
        display: none !important;
    }

    .workspace-leaf-content[data-type="notes-explorer"] .count-label-button-small-screens {
        display: block !important;
        align-items: center;
        justify-content: center;
        background-color: var(--icon-color-active) !important;
        color: white !important;
        font-weight: 600 !important;
        font-size: 1.05em !important;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        cursor: pointer !important;
    }

}

.workspace-leaf-content[data-type="notes-explorer"] .search-component {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.workspace-leaf-content[data-type="notes-explorer"] .search-input-container:before {
    display: none !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .search-input-container input {
    padding-inline-start: 4px !important;
    padding-inline-end: 50px !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .search-input-container input {
    @media screen and (min-width: 700px) {
        min-width: 300px;
        max-width: 300px;
        /* box-shadow: calc(0px - var(--size-4-5)) 0 var(--size-2-3) var(--size-2-3) var(--background-primary); */
    }
}

.workspace-leaf-content[data-type="notes-explorer"] .search-input-container input {
    @media screen and (max-width: 700px) {
        min-width: 250px;
        max-width: 250px;
        /* box-shadow: calc(0px - var(--size-4-5)) 0 var(--size-2-3) var(--size-2-3) var(--background-primary); */
    }
}

.workspace-leaf-content[data-type="notes-explorer"] .search-input-container input {
    @media screen and (max-width: 450px) {
        min-width: auto;
        max-width: auto;
        /* box-shadow: calc(0px - var(--size-4-5)) 0 var(--size-2-3) var(--size-2-3) var(--background-primary); */
    }
}

.workspace-leaf-content[data-type="notes-explorer"] .cards-container {
    position: relative;
    container-type: inline-size;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* margin-top: 3em; */
    margin-bottom: 2em;
    height: inherit !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .cards-container :global(*) {
    --card-padding: var(--size-4-3);
    --card-gutter: var(--size-4-5);
}

.workspace-leaf-content[data-type="notes-explorer"] .sort-button,
.workspace-leaf-content[data-type="notes-explorer"] .refresh-button {
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.workspace-leaf-content[data-type="notes-explorer"] .loading-animation-and-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1rem;
}

.workspace-leaf-content[data-type="notes-explorer"] .loading-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.workspace-leaf-content[data-type="notes-explorer"] .loading-message {
    font-size: 1.2em;
    color: var(--text-faint);
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.workspace-leaf-content[data-type="notes-explorer"] .no-files-message {
    font-size: 1.5em;
    text-align: center;
}

/* .refresh-button:hover {
    background-color: var(--interactive-accent-hover);
} */

.workspace-leaf-content[data-type="notes-explorer"] .page-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 0.5rem;
    margin-top: 1rem;
    overflow-x: auto;
    position: sticky;
    z-index: var(--layer-status-bar);
    bottom: 2.4em;
    right: 1em;
    padding-inline: 1em;
    max-width: 95vw;

    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    pointer-events: none;
}

.workspace-leaf-content[data-type="notes-explorer"] .page-bar-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    /* background-color: var(--background-modifier-success); */
    border-radius: 2em;
    padding-block: 10px;
    box-shadow: 0px 0px 15px -4px var(--background-modifier-success);
    backdrop-filter: blur(10px);
}

.workspace-leaf-content[data-type="notes-explorer"] .page-bar button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--background-secondary);
}

.workspace-leaf-content[data-type="notes-explorer"] .page-bar button.active {
    font-weight: bold;
    background-color: var(--color-accent);
}

/* Card.svelte */

.workspace-leaf-content[data-type="notes-explorer"] .card {
    position: absolute;
    background-color: var(--background-primary-alt);
    border: 1px solid var(--background-modifier-border);
    word-wrap: break-word;
    overflow-y: hidden;
    transition-property: transform;
    transition-duration: 0.4s;
    transform: translate(0, 100vh);
    display: flex;
    flex-direction: column;
    /* Set max height for cards */
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
        -1px 4px 10px 0 rgba(0, 0, 0, 0.19);
    margin: calc(-1 * var(--card-padding));
    margin-top: 1px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-4-1);
    border-radius: 7px;
    font-size: 0.8rem;
}

.workspace-leaf-content[data-type="notes-explorer"] .top-bar {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--color-base-70);
    padding: 0.2rem;
    border-bottom: 1px solid var(--background-modifier-border);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 1.8em;
}

.workspace-leaf-content[data-type="notes-explorer"] .top-bar-fileName {
    width: 100%;
    text-wrap: wrap;
}

.workspace-leaf-content[data-type="notes-explorer"] .card.skip-transition {
    transition: none;
}

.workspace-leaf-content[data-type="notes-explorer"] .card :global(p),
.workspace-leaf-content[data-type="notes-explorer"] .card :global(ul) {
    margin: 0.3rem 0;
}

.workspace-leaf-content[data-type="notes-explorer"] .card :global(h1),
.workspace-leaf-content[data-type="notes-explorer"] .card :global(h2),
.workspace-leaf-content[data-type="notes-explorer"] .card :global(h3) {
    margin: 0 0 0.3rem;
}

.workspace-leaf-content[data-type="notes-explorer"] .card :global(ul) {
    padding-left: var(--size-4-5);
}

.workspace-leaf-content[data-type="notes-explorer"] .card :global(p:has(> span.image-embed):not(:has(br))) {
    margin: 0;
}

.workspace-leaf-content[data-type="notes-explorer"] .card :global(span.image-embed) {
    margin: 0 calc(-1 * var(--card-padding));
    width: calc(100% + 2 * var(--card-padding));
}

/* Images embeds alone in a paragraph */
.workspace-leaf-content[data-type="notes-explorer"] .card :global(p:has(> span.image-embed):not(:has(br)) span.image-embed) {
    display: block;

    & img {
        display: block;
    }
}

/* Image embeds followed by line break in same paragraph */
.workspace-leaf-content[data-type="notes-explorer"] .card :global(p:has(> span.image-embed):has(br) span.image-embed) {
    display: inline-block;
}

/** Embed notes */
.workspace-leaf-content[data-type="notes-explorer"] .card :global(p:has(> span.markdown-embed)),
.workspace-leaf-content[data-type="notes-explorer"] .card :global(.block-language-dataview) {
    overflow: hidden;
    max-height: 5rem;
    position: relative;
}

.workspace-leaf-content[data-type="notes-explorer"] .card :global(p:has(> span.markdown-embed) > .embed-shadow),
.workspace-leaf-content[data-type="notes-explorer"] .card :global(.block-language-dataview > .embed-shadow) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 -2rem 1rem -1rem var(--background-primary-alt);
}

.workspace-leaf-content[data-type="notes-explorer"] .card:hover {
    border-color: var(--background-modifier-border-hover);
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content {
    /* flex-grow: 1; */
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow-x: clip;
    min-height: 7em;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-footer-parent {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-footer-parent-active {
    background-color: var(--background-primary);
    box-shadow: 0 8px 32px 0 var(--caret-color);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.workspace-leaf-content[data-type="notes-explorer"] .card:hover .card-footer-parent {
    background-color: var(--background-primary);
    box-shadow: 0 8px 32px 0 var(--caret-color);
    /* backdrop-filter: blur(5px); */
}

.workspace-leaf-content[data-type="notes-explorer"] .card-footer {
    max-width: 100% !important;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-4-1);
    color: var(--color-accent);
}

.workspace-leaf-content[data-type="notes-explorer"] .footer-metadata {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
    text-wrap: wrap;
    word-wrap: break-word;
    max-width: 75%;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-footer-text {
    font-size: 1.1em;
    font-weight: 500;
    text-wrap: wrap;
    line-break: anywhere;
    word-break: break-all;
    word-break: break-word;
}

.workspace-leaf-content[data-type="notes-explorer"] .card .clickable-icon.is-active {
    color: var(--tab-text-color-focused-active);
    background-color: var(--background-modifier-hover);
    cursor: pointer;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-footer .clickable-icon {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.workspace-leaf-content[data-type="notes-explorer"] .card:hover .clickable-icon {
    opacity: 1;
    transform: scale(1);
    color: var(--text-color);
}

.workspace-leaf-content[data-type="notes-explorer"] .card-footer button.clickable-icon {
    cursor: pointer;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content-empty {
    padding-block: 2rem;
    text-align: center;
}


/* /src/settings.ts */

.notes-explorer-tag-container .notes-explorer-tag-container-tag-row {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-block: 2px;
}

.notes-explorer-tag-container-tag-row-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 !important;
}

.notes-explorer-tag-container .setting-item-control {
    display: flex;
    align-items: center;
    width: 100%;
    padding-block: 5px;
}

.notes-explorer-tag-container .setting-item-control button {
    padding-inline: 8px !important;
    width: auto !important;
    max-width: auto !important;
}

.notes-explorer-sortable-fallback {
    cursor: grabbing;
    box-shadow: 0px 3px 32px rgb(31 38 135 / 15%);
}

.notes-explorer-sortable-grab {
    cursor: grabbing !important;
}

.notes-explorer-sortable-ghost {
    opacity: 0.4;
    cursor: grabbing;
}

.notes-explorer-sortable-chosen {
    cursor: grabbing;
    padding: 0 0 0 18px;
    background-color: var(--background-primary);
}

.notes-explorer-sortable-drag {
    cursor: grabbing;
    box-shadow: 0px 3px 32px rgb(31 38 135 / 15%);
}

.notes-explorer-exclude-folders-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.notes-explorer-exclude-folders-list-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 6px;
    margin-bottom: 8px;
    background-color: var(--background-secondary);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.notes-explorer-tag-container-tag-row-drag {
    cursor: grab;
}

.notes-explorer-exclude-folders-list-item:hover {
    background-color: var(--interactive-accent);
    transform: scale(1.02);
    border: 1px solid var(--graph-node);
}

.notes-explorer-exclude-folders-list-folderIcon {
    width: 25px;
    height: 25px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #007aff;
}

.notes-explorer-exclude-folders-list-folderName {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: 600;
}

.notes-explorer-exclude-folders-list-button {
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.notes-explorer-exclude-folders-list-button:hover {
    background-color: #d9363e;
}

.settingTabFooterSection {
    align-items: center;
    text-align: center;
}

.settingTabFooterDonationsSec {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
    max-height: 60px;
    flex-wrap: wrap;
}

/* DeleteTaskConfirmationModal */

.deleteConfirmationModalHome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
}

.deleteConfirmationModalHome-button-container {
    display: flex;
    gap: 1em;
    margin-top: 1.5rem;
}

.deleteTaskConfirmBtn {
    padding-block: 4px;
    padding-inline: 25px;
    cursor: pointer;
}

.deleteTaskCancelmBtn {
    padding-block: 4px;
    padding-inline: 25px;
    cursor: pointer;
}

.deleteTaskConfirmBtn:hover {
    background-color: red !important;
    /* Change background to green on hover */
}

.deleteTaskCancelmBtn:hover {
    background-color: green !important;
    /* Change background to red on hover */
}

/* NotesCountStatisticsModal.ts */

.notes-explorer-modal-title {
    text-align: center;
}

.notes-explorer-modal-text-element {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.notes-explorer-modal-text-element-highlight {
    font-weight: 700;
    color: var(--text-accent);
    font-size: medium;
}


/* NoteViewerModal.ts */

.modal[data-type="notes-explorer-note"] {
    max-height: 90vh !important;
    min-height: 90vh !important;
    max-width: 95vw !important;
    min-width: 90vw !important;
    /* overflow: auto; */
    padding: 0 !important;
}

.is-phone .modal[data-type="notes-explorer-note"] {
    max-height: 90vh !important;
    min-height: 90vh !important;
    max-width: 95vw !important;
    min-width: 90vw !important;
    /* overflow: auto; */
    padding: 0 !important;
}

.modal[data-type="notes-explorer-note"] .modal-header {
    display: none;
}

.is-phone .modal[data-type="notes-explorer-note"] .modal-header {
    display: none;
}

.modal-content[data-type="notes-explorer-note"] {
    position: relative;
    max-height: fit-content;
    /* min-height: 90vh; */
    overflow: hidden;
}

.is-phone .modal-content[data-type="notes-explorer-note"] {
    position: relative;
    max-height: fit-content;
    /* min-height: 90vh; */
    overflow: hidden;
    padding: 0 !important;
}

.note-modal-header {
    background-color: var(--color-accent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* margin: -4px; */
    position: sticky;
    top: 0;
    /* z-index: 301; */
    border-radius: 10px 10px 0 0;
}

.note-modal-header-file-name {
    font-size: 1em;
    font-weight: 600;
    color: white;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.note-modal-header-button-container {
    display: flex;
    gap: 0.5rem;
}

.note-modal-header-button-container button {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid white !important;
    padding-inline: 10px;
    cursor: pointer;
}

.note-modal-content {
    overflow: auto;
    max-height: 85vh;
    padding: 12px;
    padding-block-end: 5vh;
}

.note-modal-content code {
    text-wrap: balance !important;
}

.note-modal-content img {
    max-width: 100%;
}


/* Style fixes for Obsidian generated elements */

.workspace-leaf-content[data-type="notes-explorer"] .card-content .task-list-item {
    margin-inline-start: 1em;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content span {
    display: flex;
    justify-content: center;
    margin-inline-start: 4px;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content span.token {
    display: flex;
    justify-content: left;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content ol {
    padding-inline-start: 14px;
    /* margin-block-start: -1.7rem; */
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content .task-list-item ol {
    padding-inline-start: 8px;
    margin-block-start: -1.7rem;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content h1,
.workspace-leaf-content[data-type="notes-explorer"] .card-content h2,
.workspace-leaf-content[data-type="notes-explorer"] .card-content h3 {
    margin: 0.5rem 0;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content h1 {
    font-size: 1.502em !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content h2 {
    font-size: 1.302em !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content h3 {
    font-size: 1.124em !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .card h3 {
    word-wrap: break-word;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content h4 {
    font-size: 1em !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content h5 {
    font-size: 0.905em !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content h6 {
    font-size: 0.85em !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content ul {
    padding-inline-start: 9px;
    margin: 0.5rem 0;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content p {
    font-size: 0.8rem !important;
    margin: 0.5rem 0;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content blockquote {
    margin-inline: 4px;
}

.workspace-leaf-content[data-type="notes-explorer"] ul>li.task-list-item>p>.task-list-item-checkbox,
.workspace-leaf-content[data-type="notes-explorer"] ul>li.task-list-item>.task-list-item-checkbox {
    margin-inline-start: -21px;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content code {
    display: block !important;
    padding: 1em !important;
    overflow: none !important;
    text-wrap: balance !important;
    white-space: normal !important;
    word-wrap: break-word !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content code>span {
    display: inline !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content img {
    max-width: 100% !important;
}

.workspace-leaf-content[data-type="notes-explorer"] .card-content span.math {
    display: inline-block !important;
    max-width: 100% !important;
    /* overflow: hidden !important; */
    text-wrap: balance !important;
    white-space: normal !important;
    word-wrap: break-word !important;
}

/* Pickr library modifications */

.pcr-app .pcr-swatches>button {
    padding: 0;
}

.pickr .pcr-button {
    margin-right: 0;
}

/*----------------------------------------------------------------
PICKR 1.8.2 MIT | https://github.com/Simonwep/pickr
----------------------------------------------------------------*/
.pickr {
    position: relative;
    overflow: visible;
    transform: translateY(0);
}

.pickr * {
    box-sizing: border-box;
    outline: none;
    border: none;
    -webkit-appearance: none;
}

.pickr .pcr-button {
    position: relative;
    height: 2em;
    width: 2em;
    padding: 0.5em;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Helvetica Neue", Arial, sans-serif;
    border-radius: 0.15em;
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" stroke="%2342445A" stroke-width="5px" stroke-linecap="round"><path d="M45,45L5,5"></path><path d="M45,5L5,45"></path></svg>') no-repeat center;
    background-size: 0;
    transition: all 0.3s;
}

.pickr .pcr-button::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: 0.5em;
    border-radius: 0.15em;
    z-index: -1;
}

.pickr .pcr-button::before {
    z-index: initial;
}

.pickr .pcr-button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: background 0.3s;
    background: var(--pcr-color);
    border-radius: 0.15em;
}

.pickr .pcr-button.clear {
    background-size: 70%;
}

.pickr .pcr-button.clear::before {
    opacity: 0;
}

.pickr .pcr-button.clear:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85), 0 0 0 3px var(--pcr-color);
}

.pickr .pcr-button.disabled {
    cursor: not-allowed;
}

.pickr *,
.pcr-app * {
    box-sizing: border-box;
    outline: none;
    border: none;
    -webkit-appearance: none;
}

.pickr input:focus,
.pickr input.pcr-active,
.pickr button:focus,
.pickr button.pcr-active,
.pcr-app input:focus,
.pcr-app input.pcr-active,
.pcr-app button:focus,
.pcr-app button.pcr-active {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85), 0 0 0 3px var(--pcr-color);
}

.pickr .pcr-palette,
.pickr .pcr-slider,
.pcr-app .pcr-palette,
.pcr-app .pcr-slider {
    transition: box-shadow 0.3s;
}

.pickr .pcr-palette:focus,
.pickr .pcr-slider:focus,
.pcr-app .pcr-palette:focus,
.pcr-app .pcr-slider:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85), 0 0 0 3px rgba(0, 0, 0, 0.25);
}

.pcr-app {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    border-radius: 0.1em;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Helvetica Neue", Arial, sans-serif;
    box-shadow: 0 0.15em 1.5em 0 rgba(0, 0, 0, 0.1), 0 0 1em 0 rgba(0, 0, 0, 0.03);
    left: 0;
    top: 0;
}

.pcr-app.visible {
    transition: opacity 0.3s;
    visibility: visible;
    opacity: 1;
}

.pcr-app .pcr-swatches {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.75em;
}

.pcr-app .pcr-swatches.pcr-last {
    margin: 0;
}

@supports (display: grid) {
    .pcr-app .pcr-swatches {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, 1.75em);
    }
}

.pcr-app .pcr-swatches>button {
    font-size: 1em;
    position: relative;
    width: calc(1.75em - 5px);
    height: calc(1.75em - 5px);
    border-radius: 0.15em;
    cursor: pointer;
    margin: 2.5px;
    flex-shrink: 0;
    justify-self: center;
    transition: all 0.15s;
    overflow: hidden;
    background: transparent;
    z-index: 1;
}

.pcr-app .pcr-swatches>button::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: 6px;
    border-radius: 0.15em;
    z-index: -1;
}

.pcr-app .pcr-swatches>button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--pcr-color);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.15em;
    box-sizing: border-box;
}

.pcr-app .pcr-swatches>button:hover {
    filter: brightness(1.05);
}

.pcr-app .pcr-swatches>button:not(.pcr-active) {
    box-shadow: none;
}

.pcr-app .pcr-interaction {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -0.2em 0 -0.2em;
}

.pcr-app .pcr-interaction>* {
    margin: 0 0.2em;
}

.pcr-app .pcr-interaction input {
    letter-spacing: 0.07em;
    font-size: 0.75em;
    text-align: center;
    cursor: pointer;
    color: #75797e;
    background: #f1f3f4;
    border-radius: 0.15em;
    transition: all 0.15s;
    padding: 0.45em 0.5em;
    margin-top: 0.75em;
}

.pcr-app .pcr-interaction input:hover {
    filter: brightness(0.975);
}

.pcr-app .pcr-interaction input:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85),
        0 0 0 3px rgba(66, 133, 244, 0.75);
}

.pcr-app .pcr-interaction .pcr-result {
    color: #75797e;
    text-align: left;
    flex: 1 1 8em;
    min-width: 8em;
    transition: all 0.2s;
    border-radius: 0.15em;
    background: #f1f3f4;
    cursor: text;
}

.pcr-app .pcr-interaction .pcr-result::-moz-selection {
    background: #4285f4;
    color: #fff;
}

.pcr-app .pcr-interaction .pcr-result::selection {
    background: #4285f4;
    color: #fff;
}

.pcr-app .pcr-interaction .pcr-type.active {
    color: #fff;
    background: #4285f4;
}

.pcr-app .pcr-interaction .pcr-save,
.pcr-app .pcr-interaction .pcr-cancel,
.pcr-app .pcr-interaction .pcr-clear {
    color: #fff;
    width: auto;
}

.pcr-app .pcr-interaction .pcr-save,
.pcr-app .pcr-interaction .pcr-cancel,
.pcr-app .pcr-interaction .pcr-clear {
    color: #fff;
}

.pcr-app .pcr-interaction .pcr-save:hover,
.pcr-app .pcr-interaction .pcr-cancel:hover,
.pcr-app .pcr-interaction .pcr-clear:hover {
    filter: brightness(0.925);
}

.pcr-app .pcr-interaction .pcr-save {
    background: #4285f4;
}

.pcr-app .pcr-interaction .pcr-clear,
.pcr-app .pcr-interaction .pcr-cancel {
    background: #f44250;
}

.pcr-app .pcr-interaction .pcr-clear:focus,
.pcr-app .pcr-interaction .pcr-cancel:focus {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85),
        0 0 0 3px rgba(244, 66, 80, 0.75);
}

.pcr-app .pcr-selection .pcr-picker {
    position: absolute;
    height: 18px;
    width: 18px;
    border: 2px solid #fff;
    border-radius: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pcr-app .pcr-selection .pcr-color-palette,
.pcr-app .pcr-selection .pcr-color-chooser,
.pcr-app .pcr-selection .pcr-color-opacity {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    cursor: grab;
    cursor: -webkit-grab;
}

.pcr-app .pcr-selection .pcr-color-palette:active,
.pcr-app .pcr-selection .pcr-color-chooser:active,
.pcr-app .pcr-selection .pcr-color-opacity:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.pcr-app[data-theme="nano"] {
    width: 14.25em;
    max-width: 95vw;
}

.pcr-app[data-theme="nano"] .pcr-swatches {
    margin-top: 0.6em;
    padding: 0 0.6em;
}

.pcr-app[data-theme="nano"] .pcr-interaction {
    padding: 0 0.6em 0.6em 0.6em;
}

.pcr-app[data-theme="nano"] .pcr-selection {
    display: grid;
    grid-gap: 0.6em;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 5fr auto auto;
    align-items: center;
    height: 10.5em;
    width: 100%;
    align-self: flex-start;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-preview {
    grid-area: 2 / 1 / 4 / 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0.6em;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-preview .pcr-last-color {
    display: none;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-preview .pcr-current-color {
    position: relative;
    background: var(--pcr-color);
    width: 2em;
    height: 2em;
    border-radius: 50em;
    overflow: hidden;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-preview .pcr-current-color::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: 0.5em;
    border-radius: 0.15em;
    z-index: -1;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-palette {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-palette .pcr-palette {
    border-radius: 0.15em;
    width: 100%;
    height: 100%;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-palette .pcr-palette::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');
    background-size: 0.5em;
    border-radius: 0.15em;
    z-index: -1;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser {
    grid-area: 2 / 2 / 2 / 2;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity {
    grid-area: 3 / 2 / 3 / 2;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser,
.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity {
    height: 0.5em;
    margin: 0 0.6em;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser .pcr-picker,
.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity .pcr-picker {
    top: 50%;
    transform: translateY(-50%);
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser .pcr-slider,
.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity .pcr-slider {
    flex-grow: 1;
    border-radius: 50em;
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-chooser .pcr-slider {
    background: linear-gradient(to right, red, #ff0, lime, cyan, blue, #f0f, red);
}

.pcr-app[data-theme="nano"] .pcr-selection .pcr-color-opacity .pcr-slider {
    background: linear-gradient(to right, transparent, black),
        url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2"><path fill="white" d="M1,0H2V1H1V0ZM0,1H1V2H0V1Z"/><path fill="gray" d="M0,0H1V1H0V0ZM1,1H2V2H1V1Z"/></svg>');

    background-size: 100%, 0.25em;
}